<footer>
    <div class="f-info container d-md-flex justify-content-between align-items-center border-top p-2 text-center flex-row-reverse">

        <div class="f-info-socials h4">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>

        <div class="f-info d-md-flex gap-2">
            <p class=" m-0"> &copy; 2025 Hivbnb,Inc.</p>
            <div class="f-info-links m-0 d-flex gap-2 align-items-center justify-content-center">
                <span class="dot">&bull;</span>
                <a href="/privacy">Privacy</a>
                <span class="dot">&bull;</span>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>