.search-container {
  position: relative;
  background-color: #fff;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.03);
  overflow: hidden;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 50px;
  z-index: 1000;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.02);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-bar:focus {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .search-container {
    top:50px;
    height: fit-content;
    border-bottom: none;
  }
}

/* Checkout page styles */
.checkout-listing-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
}

.info-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

.dates-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.dates-info p {
  margin: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Admin Bookings */
.scrollbar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}