.listing-grid {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.listing-grid::-webkit-scrollbar {
  display: none;
}

.listing-card {
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  position: relative;
}

.listing-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 15px;
}

.listing-info {
  padding: 7px;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
  position: relative;
  z-index: 2;
}

.listing-info p {
  font-size: 15px;
  color: #80808b;
}

/* shop listing card */
.shop-listing-card {
  border-radius: 4px;
  overflow: hidden;
  width: 330px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  flex-direction: column;
  position: relative;
}

.shop-listing-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 15px;
}

/* detail page */
.listing-detail {
  width: 100%;
  display: flex;
  gap: 20px;
  border-radius: 4px;
}

.detail-price {
  width: 35%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  height: fit-content;
  position: sticky;
  top: 70px;
  background-color: #fff;
}

.detail-info {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.detail-info p {
  color: #80808b;
  font-size: 1rem;
  margin-bottom: 10px;
}

.image-slider {
  position: relative;
  width: 100%;
}

.main-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
}

.left {
  left: 15px;
}

.right {
  right: 15px;
}

.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  transition: 0.3s;
}

.active-dot {
  background: white;
  transform: scale(1.2);
}

.review-card {
  padding: 10px;
  border: 1px solid #a1a1aa;
  border-radius: 8px;
  width: calc(50% - 10px);
}

@media (max-width: 768px) {
  .listing-detail {
    flex-direction: column;
    padding-bottom: 90px;
  }

  .detail-images {
    width: 100%;
  }

  .detail-info {
    width: 100%;
  }

  .main-image {
    height: 300px;
  }

  .detail-thumbnail {
    width: 50px;
    height: 50px;
  }

  .review-card {
    width: 100%;
  }

  .arrow {
    display: none;
  }

  .detail-price {
    position: fixed;
    bottom: 0 ;
    top: auto ;
    left: 0;
    width: 100%;
    border-radius: 16px 16px 0 0;
    z-index: 1000;
    box-sizing: border-box;
  }
}