@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Global */
body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 1rem;
}

label {
    position: relative;
    top: 1.05rem;
    left: 0.5rem;
    padding: 0 0.3rem;
    font-size: 0.8rem;
    background-color: white;
}

input,
textarea {
    border-color: lightgray !important;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    border: 1px solid #222222 !important;
}

input::placeholder,
textarea::placeholder {
    color: lightgray !important;
}

textarea {
    resize: none !important;
}

.custom-btn {
    background-color: #fe424d !important;
    color: white !important;
}

.custom-btn:hover {
    background-color: #ff5a5f !important;
}

/* navbar */
.navbar {
    height: 4rem;
    background-color: white;
}

.navbar-nav .btn {
    background-color: #fe424d !important;
    color: white !important;
    font-size: 1rem !important;
    position: relative;
    right: 2.8rem;
    height: 2.1rem;
    padding: 0.1rem 0.5rem !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    color: #fe424d !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
}

.navbar-brand img {
    height: 2.3rem;
}

.register {
    color: #fe424d;
    border-color: #fe424d !important;
}

.login,
.signup,
.logout {
    width: 75px;
    text-align: center;
    border-color: #fe424d !important;
    color: #fe424d;
    transition: all 0.3s ease-in-out;
}

.login:hover,
.signup:hover,
.logout:hover {
    background-color: #fe424d;
    color: white;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

/* Footer  */
.f-info-links a {
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* index  */
.filter {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter p {
    font-size: 0.7rem;
}

.filter:hover {
    color: black;
}

.taxes-label {
    position: relative;
    top: 0rem;
    left: 0rem;
    padding: 0rem;
    font-size: 1rem;
    background-color: transparent;
}

.tax-info {
    display: none;
}

#flexSwitchCheckDefault {
    cursor: pointer;
}

/* Card */
.card {
    border: none !important;
}

.card-img-top {
    border-radius: 0.8rem !important;
    width: 100% !important;
    height: 20rem !important;
    overflow: hidden;
}

.card-img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.card-img:hover {
    transform: scale(1.1);
}

.card-text .location {
    position: relative;
    top: -5px;
}

/* show  */
.show-img:hover {
    transform: none;
    opacity: 0.9;
}

#rating:focus {
    border: none !important;
}

.fa-star,
.dot {
    font-size: 0.5rem;
}

.review-time {
    font-size: 0.6rem;
    padding-top: 0.1rem;
}

.listing-description {
    position: relative;
    top: -1rem;
}

.secondary-stars {
    color: rgba(211, 211, 211, 0.641);
}

/* alert  */

.alert {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.btn-close:focus {
    box-shadow: none !important;
}

#map {
    height: 400px;
    width: 100%;
}